
  <div class="row">
    <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11" style="margin: 3rem auto 0 auto;">
      <table class="table table-bordered table-dark text-center">
        <thead>
          <h1 class="text-center text-white">Productos</h1>
          <h1 class="text-center"><%= link_to 'New Product', new_store_product_path(@store), class: 'btn btn-light btn-lg' %></h1>
          <tr>
            <td>Image</td>
            <td>Name</td>
            <td>description</td>
            <td>Price</td>
            <td>Edit</td>
            <td>Destroy</td>
          </tr>
        </thead>
        <tbody>
          <% @store.products.each do |product| %>
            <tr scope="row">
              <td><%= image_tag 'shawarma.jpg', class:"card-img-top rounded", alt:"Card image cap"%></td>
              <td><p class="font-weight-bold" style="margin-top: 2rem;" ><%= product.name %></p></td>
              <td><p class="font-weight-bold" style="margin-top: 2rem;" ><%= product.description%></p></td>
              <td><p class="font-weight-bold" style="margin-top: 2rem;" ><%= product.price %></p></td>
              <td><p class="btn btn-info btn-lg" style="margin-top: 1rem;" ><%= link_to 'Edit', edit_store_product_url(@store, product), class:'text-white' %></p>             </td>
              <td><p class="btn btn-danger btn-lg" style="margin-top: 1rem;" ><%= link_to 'Destroy', store_product_path(@store, product), method: :delete, data: { confirm: 'Are you sure?' }, class:'text-white' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="text-center" style="margin-bottom: 6rem;">
    <h1><%= link_to 'Back', stores_path, class:'btn btn-lg btn-light'%></h1>
  </div>
