<div class="container">
  <div class="row">
    <div class="col-md-12 form-stores bg-light">
      <h1 class="text-center">New Store</h1>
      <%= form_with(model: store, local: true) do |form| %>
        <% if store.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

            <ul>
            <% store.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <h1><%= form.label :name %></h1>
          <%= form.text_field :name %>
        </div>

        <div class="form-group">
          <h1><%= form.label :address %></h1>
          <%= form.text_field :address %>
        </div>

        <div class="form-group">
          <h1><%= form.label :rut%></h1>
          <%= form.text_field :rut %>
        </div>
        <div class="form-group">
          <h1><%= form.label :image %></h1>
          <%= form.text_field :image %>
          <h5><%= form.file_field :image, id: :image  %></h5>
        </div>

        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="text-center">
  <h1><%= link_to 'Back', stores_path, class:'btn btn-light'%></h1>
</div>
