<%= render 'layouts/carousel' %>
<div class="container">
  <div class="row">
      <div class=" col-md-12 nombretienda">
        <h1 class="text-center text-white"><%= @store.name %></h1>
        <h1 class="text-center"><%= link_to 'carrito', store_orders_path(@store), class: 'btn btn-danger btn-lg text-white'%></h1>
      </div>

    <div class=" col-md-12 tituloproductos">
        <h1 class="text-center text-white">Products</h1>
    </div>
      <% @store.products.each do |product| %>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 card-deck">
              <div class="card">
                <%= image_tag 'shawarma.jpg', class:"card-img-top rounded", alt:"Card image cap"%>
                <div class="card-body">
                  <h5 class="card-title"><%= product.name %></h5>
                  <p class="card-text"><%= product.description%></p>
                </div>
                <div class="card-footer text-center">
                  <h2 class="text-white"><%= number_to_currency(product.price, precision: 0, seperator: ",", delimiter: ".")%></h2>
                  <small class="text-muted"><%= link_to 'Agregar ', store_orders_path(@store, product_id: product), class: 'btn btn-danger text-white', method: :post %></small>
                </div>
              </div>
          </div>
    <% end %>
  </div>
</div>

<div class="text-center" style="margin-bottom: 6rem;">
  <h1><%= link_to 'Back', stores_path, class:'btn btn-lg text-white btn-dark'%></h1>
</div>
