<p id="notice"><%= notice %></p>
<div class="table-responsive-sm ">
  <h1 class="offset-5">Stores</h1>

  <table class="table offset-3 col-md-7">
    <tbody>
      <% @stores.each do |store| %>
        <tr scope="row">
          <td><h3 style="margin-top: 1rem;"  class="text-primary"><%= link_to store.name, store%></h3></td>
          <td>
            <p class="btn btn-primary btn-lg" style="margin-top: 1rem;" ><%= link_to 'Menu', store %></p>
            <p class="btn btn-primary btn-lg" style="margin-top: 1rem;" ><%= link_to 'Edit', edit_store_path(store) %></p>
            <p class="btn btn-primary btn-lg" style="margin-top: 1rem;" ><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>

  <br>
  <div class="row">
    <div class="col-md-4 offset-md-5">
      <%= link_to 'New Store', new_store_path %>
    </div>
  </div>
