
  <div class="container">
    <div class="">

    </div>
    <p id="notice"><%= notice %></p>
      <div class="row">
        <div class=" col-md-9 nombretienda">
          <h1><%= @store.name %></h1>
        </div>
        <div class=" col-md-9 tituloproductos">
          <h3><strong>Products:</strong></h3>
        </div>
            <% @store.products.each do |product| %>
              <div class="card-deck my-3">
                <div class="card col-md-12">
                  <div class="card-body">
                    <img class="card-img-top rounded"><%= image_tag product.image.to_s, style: "max-width: 100%", class: "rounded" %></img>
                    <h5 class="card-title"><%= product.name.capitalize! %></h5>
                    <p class="card-text"><%= product.description.capitalize! %></p>
                    <p class="card-text"><small class="text-muted"><%= product.price %></small></p>
                    <p class=""><%= link_to 'Agregar ', store_product_orders_path(@store, product), class: 'btn btn-danger float-right', method: :post %></p>
                  </div>
                </div>
              </div>
              <% end %>
        </div>
        <%= link_to 'Edit', edit_store_path(@store), class: 'btn btn-primary' %> |
        <%= link_to 'Back', stores_path, class: 'btn btn-primary' %>|
        <%= link_to 'New Product', new_store_product_path(@store), class: 'btn btn-secondary' %>
      </div>
  </div>
