
<div class="row" style="color:white">
  <div class="col-md-2">
    <%= link_to "Continuar comprando", store_path(:store_id), class: "btn btn-warning" %>
  </div>

  <div class="col-md-2 offset-md-8">
    <%= link_to "Vaciar Carro", empty_cart_store_product_orders_path(:store_id, :product_id), class: "btn btn-danger", method: :delete %>
  </div>
</div>
<table class="table table-hover">
  <tr>
    <th>
      Producto
    </th>
    <th>
      Description
    </th>
    <th>
      Valor Unitario
    </th>
    <th>
      Cantidad
    </th>
    <th>
      Subtotal
    </th>
    <th>
      Remover
    </th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td>
        <%= @store.name %>
      </td>
      <td>
        <%= order.product.name %>
      </td>
      <td>
        <%= order.product.description %>
      </td>
      <td>
        <%= order.product.price %>
      </td>
      <td>
        <%= order.quantity %>
      </td>
      <td>
        <%= order.quantity * order.product.price %>
      </td>
      <td>
        <%= link_to 'Borrar', store_product_order_path(@store, order.product.id, order), class: "btn btn-danger btn-sm", method: :delete %>
      </td>
  <% end %>

<tr>
  <th>
    Total:
  </th>
  <th></th>
  <th></th>
  <th></th>
  <th>
    <%= @total %>
  </th>
</tr>
</table>
<div class="row">
  <div class="col-md-2 offset-md-9">
    <%= link_to "Confirmar Compra", class: "btn btn-warning" %>
  </div>

</div>





</div>
