<% @orders.uniq.each do |order| %>
  <h5>
    <%= order.product.name %>
    <%= order.product.description %>
    <%= order.product.price %>
    <%= order.quantity %>
  </h5>
<% end %>

<h5>
  Total: <%= @total %>
</h5>
