<div class="row">
  <div class="col-lg-12">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <%= link_to "No + filas",   stores_path, class:"navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          
          <% if user_signed_in? %>

            <% if current_user.local_admin? %>
              <li class="nav-item active">
                <%= link_to "Historial Pedidos", historial_store_orders_path(current_user.store_id), class:"nav-link"%>
              </li>
              <li class="nav-item active">
                <%= link_to "Pedidos pendientes", store_orders_path(current_user.store_id), class:"nav-link"%>
              </li>
            <% end %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.email%>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                 <%= link_to "New password", new_user_password_path(@user), class:"dropdown-item"%>
                <%= link_to "Edit my count", edit_user_registration_path(@user), class:"dropdown-item"%>
                <%=link_to "salir", destroy_user_session_path, class:"nav-link", class:"dropdown-item", method: :delete %>
              </div>
            </li>
            <% else %>

              <li class="nav-item active">
                <%= link_to "Ingresar", new_user_session_path, class:"nav-link" %>
              </li>
              <li class="nav-item active">
                <%= link_to "Registrarse", new_user_registration_path, class:"nav-link"%>
              </li>


            <% end %>
            <li class="nav-item active">
              <p id="notice" class="nav-link"><%= notice %></p>
            </li>

          </ul>

      </div>
    </nav>

  </div>
</div>
